.letter-area{
    height: 950px;
    /* background-color: aquamarine; */
    margin: 50px;
}
.letter-logo{
display: inline;
position: absolute;
left: 0;


}
.logo2{
    width: 125px; 
    margin-left: 90px;
    margin-top: 15px;

 
 }
 .sasokno {
display: flex;
justify-content: space-between;

 }
 .sasokno  p{
margin-top: 2px;
 }
.header-text{
    text-align: center;
    margin-left: 80px;
    line-height:.5;
}
.header-area{
    display: flex;
    justify-content: center;
}
.name-address{
    text-align: left;
}
.name-address p{
line-height: 10px;
}
.subject p{
    text-align: left;
    margin-left: 15px;
    margin-bottom: 20px;
    font-weight: 500;
    text-decoration: underline;
}
.letter-body p{
    text-align: justify;
}
.line {
height: 4px;
background-color: black;
margin-top: 5px;

}
.letter-body h4{
    text-align: left;
    margin-left: 30px;
}
.letter-foter{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.onulipi p{
    text-align: left;
    line-height: 10px;
   
}
.dgm-name{
    text-align: center;
    margin-right: 100px;
    line-height: 10px;
}
